@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --accent: #00ff99
}

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
}

.font-sans{
  font-family: sans-serif;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px white; /* Contorno preto de 1px */
  text-stroke: 1px white; /* Para compatibilidade adicional */
}

.text-outline-hover{
  -webkit-text-stroke: 1px var(--accent)!important; /* Contorno preto de 1px */
  color: transparent;
  text-stroke: 1px  var(--accent)!important; /* Para compatibilidade adicional */
}